<div class="container" >
    <h1 class="mt-5 mb-3" style="color:#ff7900;">Request List</h1>
    <div class="main-carousel" style="display: flex;"> 
        <div *ngFor="let u of requests | paginate: { itemsPerPage: 4, currentPage: p }">
            <div class="carousel-cell">
            <img *ngIf="u.accept == 'yes'" src="../../assets/yesman.jpg" style="height: 200px;">
            <img *ngIf="u.accept == 'no'" src="../../assets/noman.jpg" style="height: 200px;">
            <img *ngIf="u.accept == 'pending'" src="../../assets/pendingman.jpg" style="height: 200px;">
            <div class="card-inner"><h2>{{u.title}}</h2>
              <p><b>User : </b>{{u.user.username}}</p>
              <p><b>Mac address : </b> {{u.MAC}} <br>
               <b>location :</b> {{u.location}} <br>
               <b>( </b>{{u.lat}} <b>;</b> {{u.long}} <b>)</b>
            </p>
            <p style="max-height:80px;height:80px;overflow: auto;"><b>Description : </b> {{u.desc}}</p>
            
            
                <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AcceptModal" (click)="this.id=u">Accept</a>
                <a class="btn btn-danger" style="margin-left: 20px;" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="this.id=u._id">Deny</a></div>

                <!-- <div>
                    <div class="yes-no-radio-container">
                      <div class="radio-btns">
                        <span class="radio-btns-option">
                          <input type="radio" name={{u._id}} value="yes" id="radio-yes"><label class="radio-label" for="radio-yes">Yes</label>
                        </span>
                        <span class="radio-btns-option">
                          <input type="radio" name={{u._id}} value="no" id="radio-no"><label class="radio-label" for="radio-no" >No</label>
                        </span>
                      </div>
                    </div>
                    
                  </div> -->


            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>   

  <!-- Deny Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="deleteModalLabel">Deny Request</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want deny this request ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="delete()">Deny</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Accept Modal -->
  <div class="modal fade" id="AcceptModal" tabindex="-1" aria-labelledby="AcceptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="AcceptModalLabel">Accept Request</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
        </div>
        <div class="modal-body">
          Are you sure you want Accept this request ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="approveRequest(this.id)">Accept</button>
        </div>
      </div>
    </div>
  </div>
