html,
body {
  margin: 0;
}
body {
  width: 90vw;
  margin: 0 auto;
  max-width: 1600px;
  overflow-x: hidden;
}
.card {
  padding: 50px 0;
}
.carousel-cell {
  overflow: hidden;
  border-radius: 10px;
  display: block;
  width: 300px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
  margin: 10px;
}
.carousel-cell img {
  width: 100%;
  margin: 0 0 10px 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}
.carousel-cell .card-inner {
  padding: 0 20px 20px 20px;
}
.carousel-cell p {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 20px 0;
}
.carousel-cell h2 {
  margin: 0;
}
.btn {
  display: inline-block;
  width: 70px;
  padding: 8px 20px;
  background: red;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
}

.btn .clicked{
  display: inline-block;
  width: 70px;
  padding: 8px 20px;
  background: red;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
}

.flickity-prev-next-button {
  transition: 0.2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(90,97,105,.25);
}
.flickity-prev-next-button svg {
  height: 40%;
  top: 30%;
  opacity: 0.5;
}
.flickity-prev-next-button[disabled] {
  visibility: hidden;
  opacity: 0;
}
.flickity-viewport {
  overflow: visible;
}
.flickity-page-dots .dot {
  height: 6px;
  width: 6px;
}
.flickity-page-dots .dot.is-selected {
  box-shadow: 0 0 0 2px #000;
}


/*RADIO BUTTONS CSS*/
.radio-btns-option {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
input[type="radio"] {
  position: absolute;
  left: -9000px;
}

input[type="radio"]:checked + .radio-label {
  background: #45a5ff;
  color: #fff;
}

.radio-label {
  display: inline-block;
  border: 2px solid #45a5ff;
  border-right: none;
  padding: 8px 30px;
  margin: 0;
  cursor: pointer;
}

.radio-label:hover {
  background: #45a5ff;
  color: #fff;
}
.radio-btns-option:first-of-type .radio-label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio-btns-option:nth-of-type(2n) .radio-label {
  border-right: 2px solid #45a5ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}