<div class="container pt-3"  style="display: flex;">
    <div style="width: 80%;"> 
        <h3 class="custom-h3-mobile mb-0 pt-3" style="color: #ff7900;">Create a new Node</h3>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert" *ngIf="currDiv == 'nice'">
            <span class="alert-icon"><span class="visually-hidden">Failed</span></span>
            <p>{{alert}}</p>
        </div>

        <form #userForm="ngForm">
            <div class="pt-4">
                <label for="MAC" class="form-label">MAC</label>
                <input type="text" class="form-control" id="MAC" aria-describedby="MACHelp"
                [(ngModel)]="node.MAC" name="MAC"
                    #MAC="ngModel" required>
            </div>

            <div class="pt-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="titleHelp"
                [(ngModel)]="node.title" name="title"
                    #title="ngModel" required>
            </div>

            <div class="pt-4">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" id="desc" aria-describedby="descHelp"
                [(ngModel)]="node.desc" name="desc"
                    #desc="ngModel" required>
            </div>

            <div class="pt-4">
                <label for="lat" class="form-label">Lat</label>
                <input type="text" class="form-control" id="lat" aria-describedby="latHelp"
                [(ngModel)]="node.lat" name="lat"
                    #lat="ngModel" required>
            </div>

            <div class="pt-4">
                <label for="long" class="form-label">Long</label>
                <input type="text" class="form-control" id="long" aria-describedby="longHelp"
                [(ngModel)]="node.long" name="long"
                    #long="ngModel" required>
            </div>
        </form>
    </div>

    <!-- buttons section -->
    <div class="pt-5" style="width: 20%;padding-left: 50px;">
        <button type="submit" style="width:200px" class="btn btn-primary mb-3" (click)="createNode('nice',node)">Create Node</button>
    </div>

</div>  