<div class="wrapper">
    <div class="sidebar">
        <img src="../../../assets/trylogo3.png" role="img" alt="logo" loading="lazy" class="logo mt-5">

        <div class="box mt-5"> 
            <form #userForm="ngForm" (ngSubmit)="login('nice',user)">
                <div class="pt-3 mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="user.username" name="username" placeholder="Email or Username"
                    #username="ngModel" required>
                </div>

                <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1"
                [(ngModel)]="user.password" name="password" placeholder="Password"
                    #password="ngModel" required>
                </div>
                
                <div class="pt-1">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </form>

            <!-- fail alert -->
            <div class="alert mt-3" role="alert" id="alert" *ngIf="currDiv == 'nice'">
                <p>{{alert}}</p>
            </div>
            <!-- end alert -->
        </div>
    </div>
    <div class="main_content">
    </div>
</div>


