 .logo{
    margin-left: 10%; 
    width:80%;
    height:50px;
 } 

 .alert{
    text-align: center;
    border: solid red;
 }

 .form-control{
    width:90%;
 }

 .btn:hover{
    background-color: white;
    color: black;
 }

  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 15%;
    height: 100%;
    min-width: 200px;
    background: black;
    padding: 30px 0px;
    position: fixed;
  }

  .wrapper .main_content{
   height: 100%;
   margin-left:15%;
   width: 90%;
  }




  /*/*/
  @media only screen and (max-width: 960px) {
   .mob {
     display: flex;
     flex-direction:column;
   }
 
   .mob .dis{
       flex-direction:column;
   }
 
   .mob .log-line{
     margin-left: 10%;
   }
 
   .mob .leftbox{
     margin-left: 10%;
     width: 80%;
   }
 
   .mob .rightbox{
     margin-left: 10%;
     margin-bottom: 10em;
     width: 80%;
   }
 }
 
 .alert{
   width:96%;
 }
 
 .log-line{
   margin-top: 2%;
   margin-left: 16%;
 }
 
 .leftbox{
   background-color: white;
   margin-top: 2%;
   margin-left: 5%;
   padding-left: 1.6%;
   padding-top: 1.6%;
   padding-bottom: 3%;
   width: 60%;
   height: 70%;
 }
 
 .text1{
   color: #ff7900;
   font-weight: bold;
 }
 
 .text2{
   color: #999999;
   margin-top: 1%;
   font-size: 14px;
 }
 
 .btn-primary{
   width: 50%;
 }
 
 .btn-secondary{
   width: 50%;
 }
