<div class="wrapper">
    <div class="sidebar">
        <img src="../../../assets/trylogo3.png" role="img" alt="logo" loading="lazy" class="logo mt-5">

        <ul class="mt-5">
            <li [routerLinkActive]="'item'"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
            <li [routerLinkActive]="'item'"><a class="nav-link" routerLink="/nodeList">Nodes List</a></li>
            <li [routerLinkActive]="'item'"><a class="nav-link" routerLink="/userList">Users List</a></li>
            <li [routerLinkActive]="'item'"><a class="nav-link" routerLink="/requestList">Node Requests</a></li>
            <li><a class="logout" (click)="logout()">Logout</a></li>
        </ul>
    </div>
    <div class="main_content">
        <router-outlet></router-outlet>
    </div>
</div>