
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
   background-color: #f6f6f6;
}

.logo{
  margin-left: 10%; 
  width:80%;
  height:50px;
} 

.logo2{
  margin-left: 2px; 
  width:50px;
  height:50px;
} 

.logout{
  font-weight: bold;
}

.logout:hover{
  cursor: pointer;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 220px;
  height: 100%;
  background: black;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .close{
  width: 55px;
}


.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  cursor: pointer;
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li:hover{
  background-color: #ff7900;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .item{
  background-color: #ff7900;
}

.wrapper .sidebar .item a{
  color: #717171;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 220px;
  background-color: #f6f6f6;
}

.wrapper .main_open{
  margin-left: 220px;
}

.wrapper .main_close{
  margin-left: 55px;
}