<div class="container">
    <h1 class="mt-5 mb-2" style="color:#ff7900;">Nodes List</h1>
    <button class="mt-3 mb-3 btn btn-success" routerLink="/createNode"><span>Create a new Node </span></button>
    <div style="padding-left:5%;padding-right: 5%;">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">MAC</th>
              <th scope="col">Title</th>
              <th scope="col">On the map</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of pins | paginate: { itemsPerPage: 7, currentPage: p }">
              <th scope="row">{{u.MAC}}</th>
              <td>{{u.title}}</td>
              <td *ngIf="u.active == 'active'">yes</td>
              <td *ngIf="u.active == 'inactive'">no</td>
              <td><a style="color: blue;cursor: pointer;" routerLink="/nodeProfile/{{u._id}}"> See Details...</a></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="text-align: right;" class="my-pagination"></pagination-controls>
      </div>
  </div>